html{
    background-color: rgb(252, 116, 138);
    background: url(Imagenes/Corazon_rosa.png)no-repeat;
    background-size:cover;
}

.Titulo_Nosotros{
    font-family:fantasy;
    font-size: 2.4em;
    text-align: center;
    background:url(Imagenes/Camil_logo.png)repeat-y;
    background-position: right;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px black;
}

.Titulo p{
    background-color: white;
}
#Barra_navegador_Nosotros{
    margin-top: 20px;
    margin: auto;
    text-align:center;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 390px;
    padding: 10px;
    background-color: rgba(184, 30, 30, 0.753);
    border-radius: 20px;
}

#NV_BARRA_Nosotros{
    
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 0;
    font-family: fantasy;
   
    }

#NV_BARRA_Nosotros li {
margin-right: 15px; /* Espacio entre los elementos de la lista */

}
#NV_BARRA_Nosotros  a{
padding: 10px; /* Espacio interno en los enlaces */
text-decoration: none; /* Eliminar subrayado */
color: rgba(255, 255, 255, 0.945); /* Color del texto */

}

#NV_BARRA_Nosotros a:hover {
    color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   list-style: none;
}

#NV_BARRA_Nosotros a:visited {
    color: rgb(255, 255, 255);
}

#NV_BARRA_Nosotros a:active {
    color: red;
}


#Sub_titulo4{
font-family: fantasy;
text-shadow: 2px 2px 2px black;
color: rgb(255, 255, 255);
font-size: 2em;
margin-bottom: 20px

}    
 #Contenedor_Principal4 {
display: flex; /* Utiliza Flexbox para alinear los elementos */
justify-content: space-between; /* Espacio entre los elementos */
flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */

}

#Principal4 {

font-size: 1.2em;
flex: 1; /* Permite que cada div ocupe el mismo espacio */
margin: auto;
background-color: rgba(184, 30, 30, 0.753);
border-radius: 20px; /* Bordes redondeados */
padding: 20px; /* Espacio interno */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
width: 500px; /* Ancho fijo para el contenido principal */
}

#Principal4 p{
    background-color: rgb(241, 236, 236); /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
    padding: 10px;
}

#Portada img{
    margin-left: 270px;
    width: 800px;
    height: 340px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}


#Barra_lateral2 {
        width: 200px; /* Ajusta el tamaño según tu diseño */
        position: fixed; /* Fija la posición */
        top: 50px; /* La distancia desde la parte superior de la pantalla */
        left: 10px; /* La distancia desde el borde derecho */
        background-color: rgba(184, 30, 30, 0.9); /* Ajusta el color */
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra para que resalte */
    }

    #Barra_lateral2 ul{
        list-style: none;
        padding: 0;

    }

    #Barra_lateral2 li{
        margin-bottom: 15px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1); /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        text-align: center
        
        

    }

    #Barra_lateral2 a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.89);
        display: block;
        font-weight: bold;
        font-size: 13pt;
    }

    #Barra_lateral2 a:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        transition: 0.3s;
}
    
        #Barra_lateral2 h3{
        margin-top: 10px;
        margin-bottom: 30px;
        margin-right: 35px;
        padding: 5px;
        font-family: fantasy;
        font-size: 16pt;
        color: white;
        text-shadow: 2px 2px 4px black;
    }

    #Barra_lateral_izquierda{

        width: 200px; /* Ajusta el tamaño según tu diseño */
        height: 520px;
        position: fixed; /* Fija la posición */
        top: 50px; /* La distancia desde la parte superior de la pantalla */
        right: 10px; /* La distancia desde el borde derecho */
        background-color: rgba(184, 30, 30, 0.9); /* Ajusta el color */
        padding: 15px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra para que resalte */

    }
    
    #Barra_lateral_izquierda h3{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 35px;
    padding: 5px;
    font-family: fantasy;
    font-size: 16pt;
    color: white;
    text-shadow: 2px 2px 4px black;

}
#Barra_lateral_izquierda a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.89);
    display: block;
    font-weight: bold;
    font-size: 13pt;
}

#Barra_lateral_izquierda a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
#Barra_lateral_izquierda ul{
    list-style: none;
    padding: 0;

}

#Barra_lateral_izquierda li{
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;}

    
#Barra_lateral_izquierda img{
    width: 200px;
    height: 80px;
    margin-top: 20px;
    
}

.imagen1{
    
    height: 300px;
}