html{
    background-color: rgb(252, 116, 138);
    background: url(Imagenes/Corazon_rosa.png)no-repeat;
    background-size:cover;
}


#Banner {
    width: 650px;
    height: auto; /* Cambiado a auto para que se ajuste al contenido */
    margin: auto;
    margin-top: 2px;
    border: none; /* Elimina el borde si no lo necesitas */
    padding: 20px 20px;}

    #gallery {
    display: flex;
    justify-content: center; /* Centra las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas */
    gap: 10px; /* Espacio entre las imágenes */
}

#gallery img {
    width: 150px; /* Ancho de las imágenes */
    height: 150px; /* Alto de las imágenes */
    object-fit: cover; /* Mantiene la proporción de las imágenes */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    transition: transform 0.1s; /* Efecto de transición */
}

#gallery img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
}
 #Barra_navegador{
    margin: auto;
    text-align:left;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    width: 390px;
    padding: 10px;
    background-color: rgba(184, 30, 30, 0.753);
    border-radius: 20px;
}

#NV_BARRA{
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 0;
    font-family: fantasy;
   
    }

#NV_BARRA li {
margin-right: 15px; /* Espacio entre los elementos de la lista */

}
#NV_BARRA  a{
padding: 10px; /* Espacio interno en los enlaces */
text-decoration: none; /* Eliminar subrayado */
color: rgba(255, 255, 255, 0.945); /* Color del texto */

}

#NV_BARRA a:hover {
    color: rgb(255, 255, 255);
   background-color: rgb(0, 0, 0);
   list-style: none;
}

#NV_BARRA a:visited {
    color: rgb(255, 255, 255);
}

#NV_BARRA a:active {
    color: red;
}


.Titulo{
    font-family:fantasy;
    font-size: 2.4em;
    text-align: center;
    background:url(Imagenes/Camil_logo.png)repeat-y;
    background-position: right;
    color: rgba(0, 0, 0, 0.61);
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

.Titulo p{
    background-color: white;
}

#Sub_titulo{
font-family: fantasy;
text-shadow: 2px 2px 2px black;
color: rgb(255, 255, 255);
font-size: 2em;
margin-bottom: 20px

}



#Contenedor_Principal {
display: flex; /* Utiliza Flexbox para alinear los elementos */
justify-content: space-between; /* Espacio entre los elementos */
flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
}

#Principal {

font-size: 1.2em;
flex: 1; /* Permite que cada div ocupe el mismo espacio */
margin: 10px; /* Espacio entre los divs */
background-color: rgba(184, 30, 30, 0.753);
border-radius: 20px; /* Bordes redondeados */
padding: 20px; /* Espacio interno */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
width: 50px; /* Ancho fijo para el contenido principal */
}

#Principal p{
    background-color: rgb(255, 255, 255); /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }
 


#Barra_lateral {
    width: 200px; /* Ajusta el tamaño según tu diseño */
    position: fixed; /* Fija la posición */
    top: 200px; /* La distancia desde la parte superior de la pantalla */
    left: 10px; /* La distancia desde el borde derecho */
    background-color: rgba(184, 30, 30, 0.9); /* Ajusta el color */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra para que resalte */
}

#Barra_lateral_Pv1  {
    width: 100px; /* Ancho de la barra lateral */
    margin-right: 50px; /* Espacio a la izquierda de la barra lateral */
    margin-top: 65px;
    margin-bottom: 10px;
    height: 300px;
    background-color: rgba(184, 30, 30, 0.753);
    border-radius: 20px; /* Bordes redondeados */
    padding: 60px; /* Espacio interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    font-family: fantasy;
    float: right;
    
    
    }

    #Barra_lateral ul{
        list-style: none;
        padding: 0;

    }

    #Barra_lateral li{
        margin-bottom: 15px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.1); /* Fondo suave */
        border-radius: 10px; /* Bordes redondeados */
        text-align: center
        
        

    }

    #Barra_lateral a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.89);
        display: block;
        font-weight: bold;
        font-size: 13pt;
    }

    #Barra_lateral a:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        transition: 0.3s;
}
    
        #Barra_lateral h3{
        margin-top: 10px;
        margin-bottom: 30px;
        margin-right: 35px;
        padding: 5px;
        font-family: fantasy;
        font-size: 16pt;
        color: white;
        text-shadow: 2px 2px 4px black;
    }
   
    #Mapa {
        text-align: center;
        margin: 30px auto;
        max-width: 600px;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 10px;
    }

    #Mapa h3{
        font-family: fantasy;
        font-size: 20pt;
    }

    
    /*FOOTER  ICONOS DE ABAJO*/
    
    /*#Pie p{
        border: none;
        border-radius: 20px;
        font-family: fantasy;
        color: white;
        background-color: rgba(150, 23, 23, 0.568);
        width: 172px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
        padding: 5px;
        padding-bottom: 10px;
        text-shadow: 2px 2px 3px black;

    }
    #Pie img{

        margin: center;
    }*/
    
 

    
#Pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #6b12124d; 

}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: fit-content;
}

#Logo_ubicacion {
    background-color: #bb3b3be3; 
}

#LogoGmail {
    background-color: #ff5e009a; /* Rojo Gmail */
}

#Logo_whatsapp {
    background-color: #25D366; /* Verde WhatsApp */
    
}
#Logo_whatsapp a:hover{
    background-color: #83f1ab;
    transition: 1.2s;
    transform: rotate(360deg);
    border-radius: 40px;

}

img {
    width: 30px;
    height: 30px;
}
    #Pie_navega {
        border: 1px solid black;
        text-align: center;
        height: 130px;
        color: white;
        background-color: black;
    
    }
    #Pie_navega p{
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 1px;
        padding-top:30px;
    }
    
        #Pie_navega a{
            text-decoration: none; /* Quita el subrayado */
            color: inherit; /* Mantiene el color del texto del padre */
        }
        
        a:visited {
            color: inherit; /* Evita que cambie de color después de ser visitado */
        }
    
    footer {
        display: flex;
        justify-content: center; /* Centra los elementos */
        gap: 20px; /* Espacio entre los elementos */
        flex-wrap: wrap; /* Permite que se acomoden en varias líneas si la pantalla es pequeña */
        padding: 3px;
    }

   

    #book-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 20px auto;
    }
    
    #photo-frame {
        width: 900px;
        height: 500px;
        overflow: hidden;
        border-radius: 10px;
        border: 1px solid #000000;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    }
    
    #photo-frame img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    button {
        background-color: #690808;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
    }
    #nextBtn  img{
        transform: rotate(90deg); /* Gira la imagen 90 grados al pasar el mouse */
        transition: transform 0.3s ease-in-out;
        transform: rotateY(180deg);
      }
    
    button:hover {
        background-color: #000000;
    }
    
#Contenedor_Principal {
    display: flex;
    justify-content: space-between; /* Separa los elementos */
    flex-wrap: wrap; /* Permite que se acomoden en varias líneas si es necesario */
}

#Secundario h2{
    font-family: fantasy;
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: rgba(255, 255, 255, 0.856);
    width: 250px;
    margin-left:110px;
    
    border-radius: 20px;
}
